body {
    
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 80%;
}

.sorter { 
    flex: 1 1 15%;
    display: flex;
}

.content {
    flex: 2 1 85%;
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex: 2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .product, .ad {
        display: flex;
        flex: 1 1 200px;
        justify-content: space-evenly;
        height: 200px;
        box-sizing: border-box;
        padding: 10px;
        flex-direction: column;
        margin: 5px;
        border: 1px solid gainsboro;
        border-radius: 3px;
    }
    // .ad {
    //     flex: 1 1 100%;
    //     margin: 5px;
    // }
}