body {
    
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;   
    max-width: 60%;
     
}

.filters { 
    flex: 1;
    display: flex;
}

.products {
    display: flex;
    flex: 2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .product {
        display: flex;
        flex: 1 1 200px;
        height: 200px;
        box-sizing: border-box;
        padding: 10px;
        flex-direction: column;

    }
}