body {
    
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;    
}


.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 60%;


    .product {
        display: flex;
        flex: 1 1 200px;
        height: 200px;
        box-sizing: border-box;
        padding: 10px;
        flex-direction: column;

    }
}